.sidebar{
    background-color: rgb(48, 48, 48);
    padding: 0;
    margin: 0;
}

i{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}

li:hover{
    color: rgba(255, 251, 251, 0.753);
}

a:hover{
   color: rgba(255, 251, 251, 0.753);
}
ul{
    list-style-type: none;
}
hr{
    height: 0;
    border: .5px solid rgba(192, 190, 190, 0.63);
    
}

.product_Image{
    height: 50px;
}

